.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.container label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.container input {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  color: #000;
}

.container input:hover {
  border-color: #ccc;
}

.container input:focus {
  border-color: #9900ff;
}